-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."branches" (
    "id" SERIAL NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "address" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "branches_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."inventory_movements" (
    "id" SERIAL NOT NULL,
    "branch_id" INTEGER NOT NULL,
    "item_id" INTEGER NOT NULL,
    "date_received" DATE NOT NULL,
    "supplier_id" INTEGER,
    "dr_no" VARCHAR(50),
    "si_no" VARCHAR(50),
    "cost" DECIMAL(12,2) NOT NULL,
    "beginning_qty" INTEGER DEFAULT 0,
    "purchased_qty" INTEGER DEFAULT 0,
    "transferred_qty" INTEGER DEFAULT 0,
    "sold_qty" INTEGER DEFAULT 0,
    "ending_qty" INTEGER,
    "remarks" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "srp" DECIMAL(12,2),
    "margin" DECIMAL(12,2) DEFAULT 
CASE
    WHEN ((srp IS NOT NULL) AND (cost > (0)::numeric)) THEN (((srp - cost) / cost) * (100)::numeric)
    ELSE (0)::numeric
END,
    "color" VARCHAR(50),
    "status" VARCHAR(20) DEFAULT 'available',

    CONSTRAINT "inventory_movements_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."items" (
    "id" SERIAL NOT NULL,
    "item_no" VARCHAR(50) NOT NULL,
    "brand" VARCHAR(100),
    "model" VARCHAR(100),
    "color" VARCHAR(50)[] DEFAULT ARRAY[]::VARCHAR(50)[],
    "engine_no" VARCHAR(100),
    "chassis_no" VARCHAR(100),
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "srp" DECIMAL(12,2),

    CONSTRAINT "items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."payment_schedules" (
    "id" SERIAL NOT NULL,
    "reference_type" VARCHAR(20) NOT NULL,
    "reference_id" INTEGER NOT NULL,
    "due_date" DATE NOT NULL,
    "amount_due" DECIMAL(14,2) NOT NULL,
    "paid_amount" DECIMAL(14,2) DEFAULT 0,
    "paid_date" DATE,
    "status" VARCHAR(20) DEFAULT 'PENDING',
    "remarks" TEXT,

    CONSTRAINT "payment_schedules_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."purchase_order_items" (
    "id" SERIAL NOT NULL,
    "purchase_order_id" INTEGER NOT NULL,
    "item_id" INTEGER NOT NULL,
    "model_code" VARCHAR(50),
    "color" VARCHAR(50),
    "quantity" INTEGER NOT NULL,
    "unit_price" DECIMAL(12,2) NOT NULL,
    "amount" DECIMAL(14,2),
    "delivery_status" VARCHAR(20) DEFAULT 'pending',
    "rebate_percentage" DECIMAL(12,2),

    CONSTRAINT "purchase_order_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."purchase_orders" (
    "id" SERIAL NOT NULL,
    "po_number" VARCHAR(50) NOT NULL,
    "branch_id" INTEGER,
    "supplier_id" INTEGER,
    "date_issued" DATE NOT NULL,
    "due_date" DATE,
    "contact_person" VARCHAR(100),
    "contact_number" VARCHAR(50),
    "payment_term" VARCHAR(100),
    "payment_mode" VARCHAR(50),
    "prompt_rebate_pct" DECIMAL(5,2),
    "prepared_by" VARCHAR(100),
    "checked_by" VARCHAR(100),
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "dealer_discount" DECIMAL(12,2),
    "payment_status" VARCHAR(20) DEFAULT 'unpaid',
    "check_number" VARCHAR(50),

    CONSTRAINT "purchase_orders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."sales" (
    "id" SERIAL NOT NULL,
    "branch_id" INTEGER,
    "date_sold" DATE NOT NULL,
    "dr_no" VARCHAR(50),
    "si_no" VARCHAR(50),
    "total_amount" DECIMAL(14,2) NOT NULL,
    "payment_method" VARCHAR(50),
    "category_of_sales" VARCHAR(50),
    "last_name" VARCHAR(100) NOT NULL DEFAULT '',
    "first_name" VARCHAR(100) NOT NULL DEFAULT '',
    "middle_name" VARCHAR(100),
    "address" TEXT,
    "contact_no" VARCHAR(50),
    "loan_amount" DECIMAL(14,2),
    "date_granted" DATE,
    "maturity_date" DATE,
    "terms" INTEGER,
    "downpayment_percentage" DECIMAL(5,2),
    "rebates_commission" DECIMAL(14,2),
    "monthly_amortization" DECIMAL(14,2),
    "ar_balance" DECIMAL(14,2),

    CONSTRAINT "sales_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."sales_items" (
    "id" SERIAL NOT NULL,
    "sale_id" INTEGER NOT NULL,
    "item_id" INTEGER NOT NULL,
    "qty" INTEGER NOT NULL,
    "unit_price" DECIMAL(12,2) NOT NULL,
    "amount" DECIMAL(14,2),
    "vehicle_unit_id" INTEGER,

    CONSTRAINT "sales_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."suppliers" (
    "id" SERIAL NOT NULL,
    "name" VARCHAR(150) NOT NULL,
    "tin_number" VARCHAR(50),
    "contact_person" VARCHAR(100),
    "contact_number" VARCHAR(50),
    "address" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "suppliers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."vehicle_units" (
    "id" SERIAL NOT NULL,
    "inventory_id" INTEGER NOT NULL,
    "chassis_no" VARCHAR(100),
    "engine_no" VARCHAR(100),
    "unit_number" INTEGER NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "status" VARCHAR(20) DEFAULT 'available',

    CONSTRAINT "vehicle_units_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."sales_inventory" (
    "id" SERIAL NOT NULL,
    "sale_id" INTEGER NOT NULL,
    "inventory_id" INTEGER NOT NULL,
    "qty" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "sales_inventory_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "idx_inv_movements_item" ON "public"."inventory_movements"("item_id");

-- CreateIndex
CREATE UNIQUE INDEX "items_item_no_key" ON "public"."items"("item_no");

-- CreateIndex
CREATE UNIQUE INDEX "purchase_orders_po_number_key" ON "public"."purchase_orders"("po_number");

-- CreateIndex
CREATE INDEX "idx_po_due_date" ON "public"."purchase_orders"("due_date");

-- CreateIndex
CREATE INDEX "idx_sales_date" ON "public"."sales"("date_sold");

-- CreateIndex
CREATE INDEX "idx_vehicle_units_inventory" ON "public"."vehicle_units"("inventory_id");

-- CreateIndex
CREATE UNIQUE INDEX "vehicle_units_inventory_id_unit_number_key" ON "public"."vehicle_units"("inventory_id", "unit_number");

-- AddForeignKey
ALTER TABLE "public"."inventory_movements" ADD CONSTRAINT "inventory_movements_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "public"."branches"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."inventory_movements" ADD CONSTRAINT "inventory_movements_item_id_fkey" FOREIGN KEY ("item_id") REFERENCES "public"."items"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."inventory_movements" ADD CONSTRAINT "inventory_movements_supplier_id_fkey" FOREIGN KEY ("supplier_id") REFERENCES "public"."suppliers"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."purchase_order_items" ADD CONSTRAINT "purchase_order_items_item_id_fkey" FOREIGN KEY ("item_id") REFERENCES "public"."items"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."purchase_order_items" ADD CONSTRAINT "purchase_order_items_purchase_order_id_fkey" FOREIGN KEY ("purchase_order_id") REFERENCES "public"."purchase_orders"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."purchase_orders" ADD CONSTRAINT "purchase_orders_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "public"."branches"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."purchase_orders" ADD CONSTRAINT "purchase_orders_supplier_id_fkey" FOREIGN KEY ("supplier_id") REFERENCES "public"."suppliers"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."sales" ADD CONSTRAINT "sales_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "public"."branches"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."sales_items" ADD CONSTRAINT "fk_sales_items_vehicle_unit" FOREIGN KEY ("vehicle_unit_id") REFERENCES "public"."vehicle_units"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."sales_items" ADD CONSTRAINT "sales_items_item_id_fkey" FOREIGN KEY ("item_id") REFERENCES "public"."items"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."sales_items" ADD CONSTRAINT "sales_items_sale_id_fkey" FOREIGN KEY ("sale_id") REFERENCES "public"."sales"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."vehicle_units" ADD CONSTRAINT "vehicle_units_inventory_id_fkey" FOREIGN KEY ("inventory_id") REFERENCES "public"."inventory_movements"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."sales_inventory" ADD CONSTRAINT "sales_inventory_inventory_id_fkey" FOREIGN KEY ("inventory_id") REFERENCES "public"."inventory_movements"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."sales_inventory" ADD CONSTRAINT "sales_inventory_sale_id_fkey" FOREIGN KEY ("sale_id") REFERENCES "public"."sales"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

